/*
 * SPDX-FileCopyrightText: 2017 0verk1ll
 *
 * SPDX-License-Identifier: mit
 */

@charset "utf-8";

body {
  background-color: #111;
}

h1, h2, h3 {
  color: #99ffdd;
  text-align: center;
  font-family: monospace;
}

p {
  color: #99ffdd;
  text-align: center;
  font-family: monospace;
}

form {
  color: #99ffdd;
  text-align: center;
  font-family: monospace;
}

input {
  border-color: #99ffdd;
  background-color: #333;
  border-style: solid;
  min-width: 200px;
  width: 75%;
  color: #99ffdd;
}

button {
  border-color: #99ffdd;
  background-color: #333;
  border-style: solid;
  min-width: 200px;
  width: 20%;
  color: #99ffdd;
}

.fluid {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: none;
	display: block;
}

/* Mobile Layout: 480px and below. */

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

	h2 {
		font-size: xx-large;
		text-align: center;
	}

	p, a, ul, li {
		font-size: x-large;
	}

	.fluid {
		width: 85%;
	}

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	.fluid {
		width: 60%;
	}

}
